{{- range .Values.tridentProtect.applications }}
---
apiVersion: protect.trident.netapp.io/v1
kind: Application
metadata:
  name: {{ .name }}
  namespace: trident-protect
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  includedNamespaces:
  {{- range .namespaces }}
    - namespace: {{ .name }}
      {{- if .labelSelector }}
      labelSelector:
        {{- if .labelSelector.matchLabels }}
        matchLabels:
          {{- toYaml .labelSelector.matchLabels | nindent 10 }}
        {{- end }}
        {{- if .labelSelector.matchExpressions }}
        matchExpressions:
          {{- toYaml .labelSelector.matchExpressions | nindent 10 }}
        {{- end }}
      {{- end }}
  {{- end }}
  {{- if .includedClusterScopedResources }}
  includedClusterScopedResources:
    {{- toYaml .includedClusterScopedResources | nindent 4 }}
  {{- end }}
  {{- if .resourceFilter }}
  resourceFilter:
    {{- toYaml .resourceFilter | nindent 4 }}
  {{- end }}
{{- end }}
