{{- range .Values.tridentProtect.appMirrorRelationships }}
---
apiVersion: protect.trident.netapp.io/v1
kind: AppMirrorRelationship
metadata:
  name: {{ .name }}
  namespace: trident-protect
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  desiredState: {{ .desiredState | default "Established" }}
  sourceAppVaultRef: {{ .sourceAppVaultRef }}
  destinationAppVaultRef: {{ .destinationAppVaultRef }}
  sourceApplicationName: {{ .sourceApplicationName }}
  sourceApplicationUID: {{ .sourceApplicationUID }}
  # RecurrenceRule format: RFC-5545 (e.g., DTSTART:20240101T000000Z\nRRULE:FREQ=HOURLY;INTERVAL=1)
  recurrenceRule: {{ .recurrenceRule | quote }}
  {{- if .storageClassName }}
  storageClassName: {{ .storageClassName }}
  {{- end }}
  {{- if .namespaceMapping }}
  namespaceMapping:
    {{- range .namespaceMapping }}
    - source: {{ .source }}
      destination: {{ .destination }}
    {{- end }}
  {{- end }}
  {{- if .promotedSnapshot }}
  promotedSnapshot: {{ .promotedSnapshot }}
  {{- end }}
{{- end }}
