{{- if .Values.global.tridentProtect.appVault.enabled }}
apiVersion: protect.trident.netapp.io/v1
kind: AppVault
metadata:
  name: {{ .Values.global.tridentProtect.appVault.name }}
  namespace: trident-protect
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  providerType: {{ .Values.tridentProtect.appVault.providerType | default "AWS" }}
  providerConfig:
    s3:
      endpoint: s3.{{ .Values.global.tridentProtect.appVault.s3.region }}.{{ .Values.tridentProtect.appVault.s3.endpointURL }}
      bucketName: {{ .Values.global.tridentProtect.appVault.s3.bucketName | quote }}
      {{- with .Values.tridentProtect.appVault.s3 }}
      {{- if hasKey . "secure" }}
      secure: {{ .secure | quote }}
      {{- end }}
      {{- if hasKey . "skipCertValidation" }}
      skipCertValidation: {{ .skipCertValidation | quote }}
      {{- end }}
      {{- end }}
  providerCredentials:
    accessKeyID:
      valueFromSecret:
        key: accessKeyID
        name: {{ .Values.tridentProtect.appVault.credentials.secretName }}
    secretAccessKey:
      valueFromSecret:
        key: secretAccessKey
        name: {{ .Values.tridentProtect.appVault.credentials.secretName }}
{{- end }}
