{{- range .Values.tridentProtect.backups }}
---
apiVersion: protect.trident.netapp.io/v1
kind: Backup
metadata:
  name: {{ .name }}
  namespace: trident-protect
  annotations:
    argocd.argoproj.io/sync-wave: "4"
spec:
  applicationRef: {{ .applicationRef }}
  {{- if .appVaultRef }}
  appVaultRef: {{ .appVaultRef }}
  {{- end }}
  {{- if .snapshotRef }}
  snapshotRef: {{ .snapshotRef }}
  {{- end }}
  {{- if .dataMover }}
  dataMover: {{ .dataMover }}
  {{- end }}
  {{- if .reclaimPolicy }}
  reclaimPolicy: {{ .reclaimPolicy }}
  {{- end }}
  {{- if hasKey . "cleanupSnapshot" }}
  cleanupSnapshot: {{ .cleanupSnapshot }}
  {{- end }}
  {{- if hasKey . "replicateSnapshot" }}
  replicateSnapshot: {{ .replicateSnapshot }}
  {{- end }}
  {{- if .replicateSnapshotReclaimPolicy }}
  replicateSnapshotReclaimPolicy: {{ .replicateSnapshotReclaimPolicy }}
  {{- end }}
{{- end }}
