{{- if .Values.tridentProtect.ontapPeering.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: ontap-peering
  namespace: trident-protect
  annotations:
    argocd.argoproj.io/sync-wave: "1"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ontap-peering
  namespace: trident-protect
  annotations:
    argocd.argoproj.io/sync-wave: "1"
rules:
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "create", "update", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ontap-peering
  namespace: trident-protect
  annotations:
    argocd.argoproj.io/sync-wave: "1"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: ontap-peering
subjects:
  - kind: ServiceAccount
    name: ontap-peering
    namespace: trident-protect
{{- end }}
