{{- range .Values.tridentProtect.schedules }}
---
apiVersion: protect.trident.netapp.io/v1
kind: Schedule
metadata:
  name: {{ .name }}
  namespace: trident-protect
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  applicationRef: {{ .applicationRef }}
  appVaultRef: {{ .appVaultRef }}
  granularity: {{ .granularity }}
  snapshotRetention: {{ .snapshotRetention | quote }}
  backupRetention: {{ .backupRetention | quote }}
  {{- if hasKey . "enabled" }}
  enabled: {{ .enabled }}
  {{- end }}
  {{- if .minute }}
  minute: {{ .minute | quote }}
  {{- end }}
  {{- if .hour }}
  hour: {{ .hour | quote }}
  {{- end }}
  {{- if .dayOfWeek }}
  dayOfWeek: {{ .dayOfWeek | quote }}
  {{- end }}
  {{- if .dayOfMonth }}
  dayOfMonth: {{ .dayOfMonth | quote }}
  {{- end }}
  {{- if .recurrenceRule }}
  recurrenceRule: {{ .recurrenceRule | quote }}
  {{- end }}
  {{- if .dataMover }}
  dataMover: {{ .dataMover }}
  {{- end }}
  {{- if .snapshotReclaimPolicy }}
  snapshotReclaimPolicy: {{ .snapshotReclaimPolicy }}
  {{- end }}
  {{- if .backupReclaimPolicy }}
  backupReclaimPolicy: {{ .backupReclaimPolicy }}
  {{- end }}
  {{- if .replicationRetention }}
  replicationRetention: {{ .replicationRetention | quote }}
  {{- end }}
  {{- if .replicateSnapshotReclaimPolicy }}
  replicateSnapshotReclaimPolicy: {{ .replicateSnapshotReclaimPolicy }}
  {{- end }}
{{- end }}
