{{- range .Values.tridentProtect.snapshots }}
---
apiVersion: protect.trident.netapp.io/v1
kind: Snapshot
metadata:
  name: {{ .name }}
  namespace: trident-protect
  annotations:
    argocd.argoproj.io/sync-wave: "4"
spec:
  applicationRef: {{ .applicationRef }}
  {{- if .appVaultRef }}
  appVaultRef: {{ .appVaultRef }}
  {{- end }}
  {{- if .reclaimPolicy }}
  reclaimPolicy: {{ .reclaimPolicy }}
  {{- end }}
  {{- if hasKey . "cleanupSnapshot" }}
  cleanupSnapshot: {{ .cleanupSnapshot }}
  {{- end }}
  {{- if .completionTimeout }}
  completionTimeout: {{ .completionTimeout }}
  {{- end }}
  {{- if .volumeSnapshotsCreatedTimeout }}
  volumeSnapshotsCreatedTimeout: {{ .volumeSnapshotsCreatedTimeout }}
  {{- end }}
  {{- if .volumeSnapshotsReadyToUseTimeout }}
  volumeSnapshotsReadyToUseTimeout: {{ .volumeSnapshotsReadyToUseTimeout }}
  {{- end }}
  {{- if .replicateSnapshotReclaimPolicy }}
  replicateSnapshotReclaimPolicy: {{ .replicateSnapshotReclaimPolicy }}
  {{- end }}
{{- end }}
